@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  color: #222;
  font-family:Righteous;
}

nav {
  font-style: italic;
}

h1 {
  font-size: 70px;
}

#header {
  background-color: blue;
  color: yellow;
}
